---
import { SITE_TITLE } from '../consts';
import zettalystImage from '../assets/zettalyst.png';
import { Image } from 'astro:assets';

interface Props {
  isGradation: boolean;
}

const { isGradation = false } = Astro.props;
---

<header class="mb-14">
  <nav class="flex items-center justify-between">
    <h2>
      <a href="/" class:list={['text-2xl font-black']}>
        <span
          class:list={[isGradation ? 'gradient-text' : 'header-title-text']}
        >
          {SITE_TITLE}
        </span>
      </a>
    </h2>
    <div class="flex items-center gap-2 italic">
      <span>by</span>
      <a
        href="https://github.com/zettalyst"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          alt="Zettalyst"
          src={zettalystImage}
          class="h-8 w-8 rounded-full"
        />
      </a>
    </div>
  </nav>
</header>

<style>
  .header-title-text {
    color: var(--text);
  }

  .gradient-text {
    background: linear-gradient(45deg, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  a {
    transition: transform 0.2s ease-in-out;
  }
</style>
