---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <!-- <HeaderLink href="/">Home</HeaderLink> -->
	  <div></div>
    </div>
  </nav>
</header>
<style>
  header {
	display: flex;
	min-height: 78px;
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 960px;
    max-width: calc(100% - 2em);
    margin: auto;
  }
  nav a {
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
  }

  nav div.internal-links {
    margin-left: auto;
  }
</style>
